################
#
#  This is a config file for VarSifter.
#   Feel free to edit or uncomment lines.
#   Additional config options will be added in the future.
#
#   To uncomment a line, remove the leading '#'.
#   Ie, #IGV_port=60151 -> IGV_port=60151
#
#   Also note that there are NO spaces between key, value, and equals sign (=)!
#
################


#############
# IGV options

# Port used to connect to IGV
#IGV_port=60151

# IGV host  Default is localhost (127.0.0.1)
#IGV_host=127.0.0.1

# Directory containing bamfiles (or links to bam files)
#  Files in the listed directory must be of format: name.bam  (ie, Sample1.NA.bam)
#  !!! This option takes precedence over others below !!!
#IGV_bampath=/home/teerj/scripts/VarSifter/trunk/test/

# File containing map of sample names to bam files (for loading into IGV)
#  format of file is one sample per line:  name=full_path_to_bamfile
#IGV_bamlist=/home/teerj/scripts/VarSifter/trunk/test/Example.bamlist



#############
# VarSifter Score threshold options
#   These entries can also be set in the program itself using the "Preferences" window.
#   Setting these values in "Preferences" window overrides settings in this file.

# Minimum Genotype score for variant filtering 
# !!! You still must set minimum number of samples in "Preferences" window each time you load VarSifter !!!
#Min_GenScore=0

# Minimum Genotype score / coverage ratio for variant filtering
# !!! You still must set minimum number of samples in "Preferences" window each time you load VarSifter !!!
#Min_GenCovRatio=0.0

# Minimum Genotype score for Aff/Norm, Case/Control filters
#GenScoreThresh=10

# Genotype score / coverage ratio cutoff for lowlighting in Sample table
#  (score/coverage ratios lower than this value will be lowlighted)
#LowLightCutoff=0.5

#############
# Internal VarSifter options
#   These options controlling internal behavior can be changed, but should only be done
#   if you know what you're doing.

# Gene delimiter
#GeneDelim=;

